# Copyright (c) 2025 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config CAN_RENESAS_RX_CANFD
	bool "Renesas RX CANFD"
	default y
	depends on DT_HAS_RENESAS_RX_CANFD_ENABLED
	select USE_RX_FSP_CANFD
	select PINCTRL
	help
	  Enable Renesas RX CANFD driver
