/*
* Copyright (c) 2024 Renesas Electronics Corporation
*
* SPDX-License-Identifier: Apache-2.0
*/

/dts-v1/;

#include <renesas/r5k574x.dtsi>
#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/flash_controller/xspi.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include "ek_rx74m-pinctrl.dtsi"
#include <zephyr/dt-bindings/memory-attr/memory-attr.h>

/ {
	model = "Renesas EK-RX74M";
	compatible = "renesas,ek_rx74m";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &code_mram;
		zephyr,console = &uart12;
		zephyr,shell-uart = &uart12;
		zephyr,canbus = &canfd0;
	};

	leds {
		compatible = "gpio-leds";

		led1: led1 {
			gpios = <&ioportf 5 GPIO_ACTIVE_HIGH>;
			label = "LED1";
		};

		led2: led2 {
			gpios = <&ioport8 7 GPIO_ACTIVE_HIGH>;
			label = "LED2";
		};

		led3: led3 {
			gpios = <&ioport6 4 GPIO_ACTIVE_HIGH>;
			label = "LED3";
		};
	};

	buttons {
		compatible = "gpio-keys";

		sw1: sw1 {
			label = "sw1";
			gpios = <&ioport4 14 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_0>;
		};

		sw2: sw2 {
			label = "sw2";
			gpios = <&ioport1 9 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			zephyr,code = <INPUT_KEY_1>;
		};
	};

	aliases {
		led0 = &led1;
		led1 = &led2;
		led2 = &led3;
		sw0 = &sw1;
		sw1 = &sw2;
	};

	transceiver0: can-phy0 {
		compatible = "can-transceiver-gpio";
		standby-gpios = <&ioport8 1 GPIO_ACTIVE_HIGH>;
		max-bitrate = <5000000>;
		#phy-cells = <0>;
	};

	psram: memory@50000000 {
		compatible = "zephyr,memory-region";
		reg = <0x50000000 DT_SIZE_M(32)>;
		zephyr,memory-region = "PSRAM";
		zephyr,memory-attr = <DT_MEM_CACHEABLE>;
		status = "okay";
	};
};

&xtal {
	clock-frequency = <DT_FREQ_M(24)>;
	mosel = <0>;
	#clock-cells = <0>;
	status = "okay";
};

&subclk {
	status = "okay";
};

&pll {
	status = "okay";
	freq = <DT_FREQ_M(1200)>;

	pllp: pllp {
		div = <3>;
		freq = <DT_FREQ_M(400)>;
		status = "okay";
	};

	pllq: pllq {
		div = <4>;
		freq = <DT_FREQ_M(300)>;
		status = "okay";
	};

	pllr: pllr {
		div = <5>;
		freq = <DT_FREQ_M(240)>;
		status = "okay";
	};
};

&pll2 {
	status = "okay";

	/* PLL */
	clocks = <&xtal>;
	div = <3>;
	mul = <125 0>;
	freq = <DT_FREQ_M(1000)>;

	pll2p: pll2p {
		div = <2>;
		freq = <DT_FREQ_M(500)>;
		status = "okay";
	};
};

&uclk {
	clocks = <&pllr>;
	div = <5>;
	status = "okay";
};

&usb60clk {
	clocks = <&pllr>;
	div = <4>;
	status = "okay";
};

&sciclk {
	clocks = <&pllp>;
	status = "okay";
};

&octaspiclk {
	clocks = <&pllp>;
	div = <3>;
	status = "okay";
};

&cmt {
	clock-frequency = <6250000>;
	status = "okay";
};

&eswclk {
	compatible = "renesas,rx-cgc-pclk";
	clocks = <&pllq>;
	div = <2>;
	#clock-cells = <2>;
	status = "okay";
};

&eswphyclk {
	compatible = "renesas,rx-cgc-pclk";
	clocks = <&pll2p>;
	div = <1>;
	#clock-cells = <2>;
	status = "okay";
};

&ethphyclk {
	compatible = "renesas,rx-cgc-pclk";
	clocks = <&pllp>;
	div = <16>;
	#clock-cells = <2>;
	status = "okay";
};

&sci12 {
	pinctrl-0 = <&sci12_default>;
	pinctrl-names = "default";
	status = "okay";

	uart12: uart {
		current-speed = <115200>;
		status = "okay";
	};
};

&sci1 {
	pinctrl-0 = <&sci1_default>;
	pinctrl-names = "default";

	i2c1: i2c {
		sda-output-delay = <300>;
		noise-filter-clock-select = <1>;
		bit-rate-modulation;
	};
};

&ioport6 {
	status = "okay";
};

&ioport8 {
	status = "okay";
};

&ioportf {
	status = "okay";
};

&canfdclk {
	clocks = <&pllp>;
	div = <5>;
	status = "okay";
};

&group_irq_al2 {
	status = "okay";
};

&canfd_global {
	status = "okay";

	canfd0: canfd0 {
		pinctrl-0 = <&canfd0_default>;
		pinctrl-names = "default";
		rx-max-filters = <64>;
		phys = <&transceiver0>;
		status = "okay";
	};
};

&ioport4 {
	status = "okay";
};

&ioport1 {
	status = "okay";
};

&port_irq17 {
	status = "okay";
};

&port_irq30 {
	status = "okay";
};

&group_irq_al4 {
	status = "okay";
};

&eswm {
	status = "okay";
};

&rmac0 {
	pinctrl-0 = <&rmac0_default>;
	pinctrl-names = "default";
	local-mac-address = [74 90 50 A8 60 6A];
	phy-handle = <&phy0>;
	status = "okay";
};

&rmac1 {
	pinctrl-0 = <&rmac1_default>;
	pinctrl-names = "default";
	local-mac-address = [74 90 50 A8 60 6D];
	phy-handle = <&phy1>;
	status = "disabled";
};

&mdio0 {
	pinctrl-0 = <&mdio_default>;
	pinctrl-names = "default";
	reset-gpios = <&ioport4 13 GPIO_ACTIVE_LOW>;
	status = "okay";

	phy0: ethernet-phy@0 {
		compatible = "microchip,vsc8541";
		reg = <0x0>;
		status = "okay";

		microchip,interface-type = "gmii";
		microchip,rgmii-tx-clk-delay = <0x4>;
		microchip,rgmii-rx-clk-delay = <0x4>;
	};

	phy1: ethernet-phy@1 {
		compatible = "microchip,vsc8541";
		reg = <0x1>;
		status = "disabled";

		microchip,interface-type = "gmii";
		microchip,rgmii-tx-clk-delay = <0x4>;
		microchip,rgmii-rx-clk-delay = <0x4>;
	};
};

&usbhs {
	pinctrl-0 = <&usbhs_default>;
	pinctrl-names = "default";
	maximum-speed = "high-speed";
	status = "okay";

	zephyr_udc0: udc {
		status = "okay";
	};
};

&usbfs {
	pinctrl-0 = <&usbfs_default>;
	pinctrl-names = "default";
	maximum-speed = "full-speed";
};

&usbhs_phy {
	phys-clock-src = "xtal";
};

&group_irq_al1 {
	status = "okay";
};

&group_irq_al0 {
	status = "okay";
};

&spi1 {
	pinctrl-0 = <&spi1_default>;
	pinctrl-names = "default";
	status = "okay";
};

&data_mram {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		storage_partition: partition@0 {
			label = "storage";
			reg = <0x0 DT_SIZE_K(48)>;
		};
	};
};

&ospi0 {
	pinctrl-0 = <&xspi0_default>;
	pinctrl-names = "default";
	status = "okay";

	mx25lw51245g: ospi-nor-flash@0 {
		compatible = "renesas,rx-ospi-b-nor";
		reg = <0>;
		size = <DT_SIZE_M(64)>; /* 512 Megabits = 64 Megabytes */
		ospi-max-frequency = <DT_FREQ_M(133)>;
		protocol-mode = <XSPI_OCTO_MODE>;
		data-rate = <XSPI_DTR_TRANSFER>;
		write-block-size = <2>;
		output-assert-delay = "ASSERTION_DELAY_ENABLE";
		status = "okay";

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			partition@0 {
				label = "nor";
				reg = <0x00000000 DT_SIZE_M(4)>;
			};
		};
	};
};

&ospi1 {
	pinctrl-0 = <&xspi1_default>;
	pinctrl-names = "default";
	status = "okay";

	memc: is66wvo32m8d: memory@0 {
		compatible = "renesas,rx-ospi-b-psram";
		variable-latency;
		reg = <0>;
		size = <DT_SIZE_M(32)>; /* 32 Megabytes */
		ospi-max-frequency = <DT_FREQ_M(200)>;
		status = "okay";
	};
};
