# Copyright (c) 2025 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config MDIO_RENESAS_RX_RMAC_PHY
	bool "RENESAS MDIO controller driver"
	default y
	depends on DT_HAS_RENESAS_RX_RMAC_MDIO_ENABLED
	select PINCTRL
	select USE_RX_FSP_RMAC_PHY
	help
	  Enable RENESAS MDIO support.
