# Copyright (c) 2025 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config MDIO_RENESAS_RX_RMAC_PHY
	bool "RENESAS MDIO RMAC controller driver"
	default y
	depends on DT_HAS_RENESAS_RX_RMAC_MDIO_ENABLED
	help
	  Enable RENESAS MDIO RMAC support.
