# Copyright (c) 2025 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_RX74M
	select RX
	select CPU_RXV3E
	select CPU_HAS_FPU
	select CPU_HAS_FPU_DOUBLE_PRECISION
	select XIP
	select CLOCK_CONTROL_RENESAS_RX_CGC if CLOCK_CONTROL
	select HAS_RENESAS_RX_FSP
	select CLOCK_CONTROL
	select CLOCK_CONTROL_FIXED_RATE_CLOCK
